html {
    background-color: bisque;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 25px 75px;
    border-radius: 8px;
}
h1 {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

h2 {
    color:rgb(126, 17, 17);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: chartreuse;
}
